
body {
  font-family: "Droid Sans", Helvetica, Arial, Sans;
  color:black;
  font-size:22px;
  padding:0;
  margin:0;
  background-color: #D0D0AF;
  overflow: hidden;
  max-width:900px;
  max-height:1440px;
}

div {
  width: 100%;
}

div#siteheader {
  text-align: center;
  color: white;
  background-color: rgb(118, 20, 7);
  font-size:40px;
  font-weight: bold;
  margin-top:10px;
}

span.r3red {
  color: rgb(118, 20, 7);
}

img.headerphoto {
  width:100%;
  margin: -90px 0 0 0px;
}

div.headerphoto {
  display:block;
  width: 100%;
  height: 200px;
  overflow: hidden;
  padding: 0.1em 0;
  text-align: center;
  margin-top:10px;
}

div.contentborder,
div.calendar,
div.sensorgraphs,
div.gpluswall
{
  display:block;
  background-color: white;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  margin-top:10px;
  margin-left:0px;
  margin-right:0px;
  overflow:hidden;
}

p.topic {
  width: 100%;
  margin-bottom:5px;
  margin-top:0px;
  margin-left:0px;
  margin-right:0px;
  font-weight: bold;
  font-variant:small-caps;
  font-size:22px;
  color: white;
  text-align:center;
  background-color: #272727;
}

div.calendar {
  width: 100%;
  height: 13em;
  font-size:26px;
}

ul {
	margin-top:18px;
	padding-left:28px;
}

li.level1 {
	white-space:nowrap;
}

div.status {
  display:block;
  width: 98%;
  margin-top:10px;
  margin-left:auto;
  margin-right:auto;
}

div.sensorgraphs {
  text-align:center;
  width:399px;
  padding-bottom:1em;
  margin-left:auto;
  margin-right:auto;
}

table.status {
  width:397px;
  display:inline;
  margin-left: 0;
  margin-right: 0;
  margin-top:0;
  margin-bottom:1ex;
}

p.anwesenheit_status {
}

td.anwesenheitsstatus {
  height:100px;
  text-align:center;
  margin-left:105px;
  margin-right:auto;
  vertical-align:middle;
  display:table-cell;
  font-weight:bold;
  font-size:30px;
}

td.sensorstatus {
  height:50px;
  text-align:center;
  vertical-align:middle;
  display:table-cell;
  background-color: Gainsboro;
}

div.sensorelem {
  display:block;
  width:397px;
  margin-top:0;
  margin-bottom:6px;
  margin-left:auto;
  margin-right:auto;
}

img.sensorimg {
  margin:0;
  padding:0;
  border:0px none black;
  width:397px;
}

div.gpluswall {
  width: 497px;
  padding-bottom:1em;
}

div.gpluspost {
  display:block;
  width: 495px;
  margin-left:0;
  margin-right:0;
  border:1px solid Gainsboro;
  margin-top:0;
  margin-bottom:6px;
  background-color: rgb(253, 253, 253);
}
img.gplusactor {
  margin-left:2px;
  margin-bottom:0px;
  margin-right:4px;
  margin-top:4px;
  display:inline;
  float:left;
}
p.gplustimestamp {
  display:inline;
  float: right;
  margin-top:0;
  padding:4 14 4 14;
  margin-left:4px;
  margin-bottom:4px;
  margin-right:0;
  font-size:9pt;
  color:DimGray;
  background-color: Gainsboro;
  border-bottom-left-radius:9px;
}
table.gplusimg {
  display:block;
  margin-left:0;
  margin-top:6px;
  margin-bottom:0;
  margin-right:0;
  overflow:hidden;
  max-height:275px;
  width:495px;
  border: 0px none black;
  padding: 0;
  border-spacing: 0;
  border-collapse:collapse;
}
p.gplustxt {
  display:block;
  font-size:11pt;
  margin: 4px;
}

div#dateclock {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  color: white;
  background-color: #272727;
  font-size:48px;
}

