[Unit]
Description=Display slideshow
Wants=network.target

[Service]
MemoryLimit=350M
Nice=10
Type=forking
Restart=always
ExecStart=/home/pi/bin/slideshow.sh

[Install]
WantedBy=default.target
